<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<!--Css-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">



<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


<!--Js-->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



</head>
<body style="background-color:#fffbdb; box-sizing: border-box;">
  
 
  <div>
    <img src="/public/img/header10.JPG" style="margin:auto; height: 50rem;" class="card-img img-fluid" alt="..." style="max-width:80rem; height: 70vh; margin: auto;">
  </div>
  
    
    
<div class="card-img-overlay">
          <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#"></a>
          <div>
            <img class="d-flex img-fluid" src="/public/img/logo.jpg.png" style="max-width:8rem; margin-left: 4rem;" alt="">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</div>
</div>

<!--Header-->

<br><br>


<div style="margin:1rem; padding:1rem;">

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" >
        <img src="/public/img/leonelMessi.jpg" style="max-width:32rem; margin:auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leonel Messi</h5>
          <p class="card-text">Lionel Andrés Messi Cuccittini es un futbolista argentino que juega como delantero. Actualmente juega en el Paris Saint-Germain y en la selección argentina, de la que es capitán.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/pauloDybala.jpg" style="max-width:32rem; margin:auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Paulo Dybala</h5>
          <p class="card-text">Paulo Bruno Exequiel Dybala conocido como Paulo Dybala, o simplemente Dybala es un futbolista argentino que juega como segundo delantero. Actualmente, se encuentra sin club, sin embargo, defiende a la selección argentina.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/emiliano_martinez2.jpg" style="max-width:33rem; margin:auto;"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Emiliano Martínez</h5>
          <p class="card-text">Damián Emiliano Martínez Romero, o simplemente Emiliano Martínez, es un futbolista argentino que juega como portero. Actualmente juega en el Aston Villa.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
<br><br><br><br><br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/julian_alvarez.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Julián Álvarez</h5>
          <p class="card-text">Julián Álvarez es un futbolista argentino que juega de delantero. Actualmente juega en River Plate, cedido por el Manchester City.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/angel_di_maria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ángel Fabián Di María Hernández</h5>
          <p class="card-text">Ángel Fabián Di María Hernández é um futebolista argentino que atua como meio-campista ou ponta-direita. Atualmente foi anunciado como jogador do Juventus </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/nicolas_gonzales.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nicolás Iván González</h5>
          <p class="card-text">Nicolás Iván González es un futbolista profesional argentino que juega como delantero en la Fiorentina.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/rodrigo_de_paul.jpg" style="width:23rem; margin:auto;"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rodrigo Javier de Paul</h5>
          <p class="card-text">Rodrigo Javier de Paul es un futbolista argentino que juega como mediocampista. Actualmente juega en el Atlético de Madrid.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" >
        <img src="/public/img/lautaro_martinez.jpg" style="width:24rem; margin:auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lautaro Javier Martínez</h5>
          <p class="card-text">Lautaro Javier Martínez, más conocido como Lautaro Martínez o simplemente Lautaro, es un futbolista argentino que se desempeña como delantero. Actualmente juega en el Internazionale</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/mac_allister.jpg" style="max-width:30rem; margin:auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mac Allister</h5>
          <p class="card-text">Mac Allister comenzó su carrera senior con Argentinos Juniors antes de unirse a Brighton & Hove Albion en 2019. Durante su tiempo con los Seagulls, pasó un tiempo cedido en Argentinos Juniors (directamente después de fichar por el equipo inglés) y Boca Juniors.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/lisandro_martinez.jpg" style="max-width:30rem; margin:auto;"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lisandro Martínez</h5>
          <p class="card-text">Lisandro Martínez es un futebolista argentino que atua como zagueiro e também meio-campo. Actualmente, defendió al Ajax</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" >
        <img src="/public/img/cristiano_romero.jpg" style="max-width:30rem; margin:auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cristian Gabriel Romero</h5>
          <p class="card-text">Cristian Gabriel Romero es un futbolista argentino que juega como defensa. Actualmente juega en el Tottenham y en la selección argentina.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/alejandro_garnacho.jpg.jpg" style="max-width:23rem; margin:auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alejandro Garnacho Ferreyra</h5>
          <p class="card-text">Alejandro Garnacho Ferreyra (nacido el 1 de julio de 2004) es un futbolista profesional que juega como extremo en el Manchester United de la Premier League. Nacido en España, es internacional juvenil argentino.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>


  <br><br><br><br><br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/nahuel_molina.jpg" style="max-width:26rem; margin:auto;"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nahuel Molina Lucero</h5>
          <p class="card-text">Nahuel Molina Lucero es un futbolista argentino que juega como lateral derecho. Actualmente juega en el Udinese.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" >
        <img src="/public/img/lucas_martinez.jpg" style="max-width:30rem; margin:auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lucas Martínez Quarta</h5>
          <p class="card-text">Lucas Martínez Quarta é um jogador de futebol argentino que joga na Fiorentina.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/public/img/nicolas_otamendi.jpg" style="max-width:30rem; margin:auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nicolás Otamendi</h5>
          <p class="card-text">Nicolás Hernán Gonzalo Otamendi es un futbolista argentino que se desempeña como defensa. Actualmente juega en el Benfica.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>


</div>

  <br><br><br><br><br>
<!--Footer-->
<section class="pt-5 pb-5" style="background-color: #babd8d">
    <div class="footer">
    <div class="container">
    <div class="row">
    <div class="col-xs-6 col-sm-3">
    <a href="#">
    <svg class="d-block mb-4" width="36" height="36" viewBox="0 0 612 612" xmins="" focusable="false">
    <title style="color:white">Footer</title>
    <path fill="currentColor"></path>
    <path fill="currentColor"></path>
    </svg>
    </a>
    
    <adress class="color-ligth-20" style="color:white">
    Direccion: podes encontrarnos via redes sociales 
    </adress>
    <ul class="list-unstyled list-ligth" style="color:white">
      <li><a href="#">Dicount</a></li>
    </ul>
    </div>
    
    <div class="col-xs-6 col-sm-3">
    <h4 class="my-2" style="color:white">Productos</h4>
    <ul class="list-unstyled list-ligth"> 
    <li><a class=" " href="#" style="color:white">Escuchanos</a></li>
    <li><a href="#" style="color:white">Busca</a></li>
    <li><a href="#" style="color:white">Informate</a></li>
    <li><a href="#" style="color:white">Seguinos</a></li>
    </ul>
    </div>
    
    <br style="clear:both" class="hidden-sm-up">
    <div class="col-xs-6 col-sm-3">
    <h4 class="my-2" style="color:white">Compañia</h4>
    <ul class="list-unstyled list-ligth">
    <li><a href="#" style="color:white">Sobre nosotros</a></li>
    <li><a href="#" style="color:white">Blog</a></li>
    <li><a href="#" style="color:white">Carreras</a></li>
    <li><a href="#" style="color:white">Eventos</a></li>
    <li><a href="#" style="color:white">Contacto</a></li>
    </ul>
    </div>
    
    <div class="col-xs-6 col-sm-3" style="color:white">
    <h4 class="my-2">Coneccion</h4>
    <ul class="list-unstyled list-ligth">
    <li><a href="#">Soporte</li>
    <li><a href="#">Social</a></li>
    <li><a href="#">Comunidad</a></li>
    </ul>
    
    <p class="color-ligth mt-2">Stay up for us!!</p>
    <input type="text" class="form-control">
     <br>
    <button class="btn btn-primary btn-sm form-control-sm">Enviar</button>
    </div>
    
    <div class="row f-flex justify-content-between" style="justify-content: space-between">
    <div class="col-md-8 text-xs-center text-left my-1">
      <p class="mt-2 text-muted">@ Copyrigth 2019 . All 2022</p>
    </div>
    
      
    <div class="col-md-8 text-xs-center text-">
    <a href="#" role="button" class="btn-white p-2 m-2 btn-round btn-rised btn-icon"><i class="fab fa-twitter fa-lg color-ligth"></i></a>
    <a href="#" role="button" class="btn-white p-2 m-2 btn-round btn-rised btn-icon"><i class="fab fa-facebook fa-lg " aria-hidden="true"></i></a>
    <a href="#" role="button" class="btn-white p-2 m-2 btn-round btn-rised btn-icon"><i class="fab fa-linkedin fa-lg " aria-hidden="true"></i></a>
    <a href="#" role="button" class="btn-white p-2 m-2 btn-round btn-rised btn-icon"><i class="fab fa-google-plus fa-lg " aria-hidden="true"></i></a>
    </div>
    
    </div>
    
    
    </div>
    </div>
    </div>
    </div>
    </section>
    


</body>
</html>