*{
  box-sizing: border-box;
  margin: auto;
}


/*other part*/


.card-img{
height: 34rem;
border: none;
}

.body{
  background-color: #750808;
}
/**other*/

.footer-three{
  height: 3.9rem;
  grid-column:3/4;
}

